* {
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  /* overflow: hidden; */
  overscroll-behavior: none;
  touch-action: none;
}